.a {
    background-color: green;
    border: 5px outset black;
    color: white;
}
.img img {
    display: block;
    margin: 50px auto;
    max-width: 150px;
}


.footer {
    background-color: black;
    text-align: center;
    color: white;
    padding: 10px;
}