body { text-align: center;}

.container {background-color: aliceblue;}

a{color:white ;}

.logo {
    width: 100px; 
    position: absolute;
    right:5px; 
}

nav { 
    background:black;
    padding:7px;
    color: white; 
     }

nav ul{
     list-style: none;
     display: flex;
}
    
    nav ul li a {
        text-decoration: none;
        padding:16px; 
    }

    nav ul li a:hover {
    background-color: gray;
    color:white;
    }

.dropdown-content {
     display: none;
     position: absolute; 
     
    }
    .dropdown-content a {
        padding: 12px 16px;
        display: block;
        color:black;
    }
    .dropdown:hover .dropdown-content {
        display: block;
        }
